.flex-wrap {
    display: flex !important;
    margin-bottom: 1.5em;
}

.left-span {
    margin-right: 1rem;
}

.left-span i {
    vertical-align: middle;
}


/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 260px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    /* display: none; */
    color: white;
    padding: 10px;
    text-decoration: none;
    width: 75px;
    height: 75px;
    background: rgba(103, 100, 88, 0.8);
    margin: 15px;
    border-radius: 50%;
    position: relative;
    opacity: 0;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #000;
  color: white !important;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .dropdown_menu-5 .dropdown_item-1 {
    transform-origin: top center;
    animation: rotateMenu 300ms 60ms ease-in-out forwards;
  }
  .dropdown_menu-5 .dropdown_item-2 {
    transform-origin: top center;
    animation: rotateMenu 300ms 120ms ease-in-out forwards;
  }

  @-moz-keyframes rotateMenu {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    70% {
      transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
  @-webkit-keyframes rotateMenu {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    70% {
      transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
  @-o-keyframes rotateMenu {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    70% {
      transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
  @keyframes rotateMenu {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    70% {
      transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  .dropdown_menu-7 {
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
  }

  /*Rin them vao de lam footer RSVP*/


  /*Rin Save de Date countdown*/
  .saveDate {
    margin-top: 30px;
    margin-bottom: 30px;
  }
#titleEvent {
  text-align: center;
  padding-bottom: 50px;
}
#titleEvent, .titleEvent {
  color: white !important;
}
.titleEvent {
  padding: 10px 0;
}
.subVN {
  font-size: 10px !important;
  font-style: italic !important;
}
.wedding-section {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
h5 {
    color: #747474 !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 11px !important;
    line-height: 23px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: 4.4px !important;
    text-transform: uppercase !important;
}
.weddingRSVP {
  padding: 50px 0;
}

.weddingRSVP h1, .weddingRSVP h5 {
  margin: 0 !important;
}
#weddingRSVP-text {
padding-bottom:  30px !important;
}
#saveDate {
  padding-bottom: 120px;
}

.hr-cover {
  background-image: url("../images/sliderpic-1.png");
}
@media screen and (max-width: 768px) {
  .hr-cover {
    background-image: url("../images/photoBanner-xs.png");
  }
  .qode-workflow .qode-workflow-item .qode-workflow-item-inner .qode-workflow-image.right {
    padding: 0 0 !important; 
  }
}

/* html,body{
  overflow-x: hidden;
} */

/* @media screen and (max-width: 480px) {
  .show-on-desktop {
    display: none;
  }
} */

/* @media screen and (min-width: 481px) {
  .hide-on-desktop {
    display: none;
  }
} */